{% extends 'consumption/layout.html' %}

{% block content %}
{{ block.super }}
<div class="row">
    <div class="col">
        <div id="chart_average_div" style="width: 100%; height: 500px"></div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr/>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col col-md-10 mb-3">
        <table class="table" id="summary_table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Area</th>
                <th scope="col">Tariff</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for user in user_data %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.area }}</td>
                <td>{{ user.tariff }}</td>
                <td><a href="{% url 'detail' user.id %}">View Details</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript">
    var data_json = JSON.parse('{{time_point_aggregate_data}}'.replace(/&quot;/g, '"'));
    var average_data = data_json.map(function (currentObject) {
        return [new Date(currentObject[0]), currentObject[1]];
    });

    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawAverageSummaryChart);

    function drawAverageSummaryChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Time Point');
        data.addColumn('number', 'Average');
        data.addRows(average_data);

        var options = {
            title: 'Average Daily Consumption at Midday',
            legend: {position: 'bottom'},
            curveType: 'function',
            colors: ['#DC3912']
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_average_div'));
        chart.draw(data, options);
    }

    $(document).ready(function () {
        $('#summary_table').DataTable();
    });

</script>
{% endblock javascripts %}